<!DOCTYPE html>
<html>
  <head>
    <title>Quantum</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="/share.png" />
    <link rel="shortcut icon" href="/fav.ico" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="js/babylon.js"></script>
  </head>
  <body>
    <div id="superwrap">
      <canvas id="canvas2"></canvas>
      <div id="wrapper">
        <div class="ratio" id="r1">
          <span>Q</span><span>U</span><span>A</span><span>N</span><span>T</span
          ><span>U</span><span>M</span>
        </div>
        <div class="ratio" id="r2"><span>Video Game Cartridge</span></div>
        <div class="ratio" id="r3"></div>
        <div class="ratio" id="r4"></div>
        <div class="ratio" id="r5"></div>
        <div class="ratio" id="r6"></div>
        <div class="ratio" id="r7">
          <div id="pwrap">
            <span>PLAY</span>
          </div>
          <div id="canvas-wrapper">
            <canvas id="renderCanvas"></canvas>
            <span id="introtext">
              <span id="introcontain"
                >I read these words on microvellum, remember writing them in my
                last days in the Schrödinger cat box in orbit around Armaghast,
                remember writing them in the haste of certainty that the laws of
                probability and quantum mechanics would soon be releasing
                cyanide into my closed-cycle universe, and I marvel at the
                present tense of the narrative.
              </span>
            </span>
          </div>
        </div>
        <div class="ratio" id="r8"></div>
        <div class="ratio" id="r9"></div>
        <div class="ratio" id="r10"></div>
        <div class="ratio" id="r11"></div>
      </div>
    </div>

    <script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/canvas.js"></script>
    <script type="text/javascript" src="js/app1.js"></script>
    <script type="text/javascript" src="app2.js"></script>
  </body>
</html>
